@model IEnumerable<Newspaper.Models.News>

@{
    ViewData["Title"] = "Index";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
    <div class="row">
        <div class="div-news col-3 border border-dark">
            1
        </div>
        <div class="div-news col-3 border border-dark">
            2
        </div>
        <div class="div-news col-3 border border-dark">
            3
        </div>
    </div>
</body>
</html>
